<section id="heading-page">


  <!-- nav-bar section -->

  <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="">
          <img src="/assets/images/tash.jpg" alt="Tash Pic" width="70" height="24">
      </a>

      <div class="container-fluid">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse-navbar2" aria-controls="collapse-navbar2" aria-expanded="false"
              aria-label="collapse-navbar2">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="collapse-navbar2">
              <ul class="navbar-nav ms-auto">
                  <li class="class-item">
                      <a class="nav-link"> Make an Offer</a>
                  </li>
                  <li class="class-item">
                      <a class="nav-link">Contact Me</a>
                  </li>

                  <li class="class-item">
                      <a class="nav-link">New Properties</a>
                  </li>

                  <li class="class-item">
                      <a class="nav-link">About Us</a>
                  </li>
                  <li class="class-item">
                      <a class="nav-link">FAQ</a>
                  </li>

              </ul>
          </div>

      </div>
  </nav>

  <div class="title-text">
      <h1> Sell-it-as-it-is <br> Cash Offers</h1>
      <h3>No repairs or clean up needed</h3>
      <button>Learn More</button>

  </div>



  <div class="title">
      <img class="title-image" src="/assets/images/house.jpg" alt="House-Picture">

  </div>
</section>



<!-- three easy way section -->

<section>
  <div id="the-easy-step">

      <h1> Three Easy Steps</h1>

      <h3> Step 1 - Contact Form</h3>
      <p>Fill out the contact form and we will connect you with someone</p>
      <img src="images/contact-pic.jpeg" alt="contact Image">


      <h3>Step 2 - View Properties</h3>
      <p> we will schedule a time to view your Properties</p>
      <h4>PICTURE</h4>

      <h3>Step 3- Make Offer</h3>
      <P>We will make an offer if the property meets out buying criteria</P>
      <h4>PICTURE</h4>

  </div>
</section>


<section>
  <!-- Contact me -->
  <div id="contact-me">
      <h1>Contact me</h1>
      <form>

          <label for="name">First Name:</label>
          <input type="firstName" placeholder="Type Your First Name">

          <div>
              <label for="name">Last Name:</label>
              <input type="lastname" placeholder="Type Your Last Name">
          </div>


          <div>

              <label for="email">Enter your Email</label>
              <input type="email" id="'email" name="email" placeholder="Type Your Email">
          </div>

          <div>

              <textarea name="message box" placeholder="add additional message"></textarea>
              <input type="submit" value="submit">
              <p>By providing your information and clicking the submit button for this form, you are agreed to
                  receive emails and text messages from profityprop LLC regarding your property.</p>
              <p>You also agree that your data will be saved in our database to contact you about your property.
              </p>
          </div>
      </form>
  </div>


  <div>
      <h1>Make an offer</h1>
      <P>PUT A PIC THERE FOR PLACE HOLDER</P>



  </div>
</section>

<div>
  <h1>About Us</h1>
  <div id="carouselControls" class="carsouel slide" data-bs-ride="carousel">

      <div class="carousel-inner">
          <div class="carousel-item active">
              <p>Curae;. Accumsan metus auctor suspendisse curabitur dignissim. Potenti, a. Vivamus magna nisi
                  eleifend cras auctor rutrum morbi aliquam.

                  Primis. Purus velit fusce, et, scelerisque venenatis risus Velit senectus feugiat primis.
                  Turpis. Eleifend.

                  Nostra aliquet. Scelerisque, et mauris habitant at at nisl dictumst quis tortor molestie
                  malesuada rhoncus ad amet. Proin. </p>
          </div>

          <div class="carousel-item">
              <p>Curae;. Accumsan metus auctor suspendisse curabitur dignissim. Potenti, a. Vivamus magna nisi
                  eleifend cras auctor rutrum morbi aliquam.

                  Primis. Purus velit fusce, et, scelerisque venenatis risus Velit senectus feugiat primis.
                  Turpis. Eleifend.

                  Nostra aliquet. Scelerisque, et mauris habitant at at nisl dictumst quis tortor molestie
                  malesuada rhoncus ad amet. Proin.</p>
          </div>

          <div class="carousel-item">
              <p>Curae;. Accumsan metus auctor suspendisse curabitur dignissim. Potenti, a. Vivamus magna nisi
                  eleifend cras auctor rutrum morbi aliquam.

                  Primis. Purus velit fusce, et, scelerisque venenatis risus Velit senectus feugiat primis.
                  Turpis. Eleifend.

                  Nostra aliquet. Scelerisque, et mauris habitant at at nisl dictumst quis tortor molestie
                  malesuada rhoncus ad amet. Proin.</p>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visual-hidden">Previous</span> </button>

      </div>
  </div>




</div>

<div>
  <h1> FAQ </h1>
</div>